<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>My Forum</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	</head>
	<body>
	
		<div th:include="menu"></div>
		<div style="padding: 1.5rem;">
			<div class="card" th:object="${topic}">
			  <div class="card-header" th:inline="text">
			    [[${topic.title}]]
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">
					<div class="list-group-item list-group-item-action flex-column align-items-start">
		    			<div class="d-flex w-100 justify-content-between">
		      				<h5 class="mb-1" th:inline="text">[[${topic.title}]]</h5>
		      				<small th:inline="text">[[${topic.totalPosts}]] [[${topic.totalPosts>1} ? 'replies' : 'reply']]</small>	
		    			</div>
		    			<p class="mb-1" th:text="${topic.text}"></p>
		    			<small class="text-muted" th:inline="text"><b>Created by</b> [[${topic.author.name}]] at [[${topic.creationDate}]]</small>
		  			</div>
			    </li>
			  </ul>
			</div>			
			<hr/>
			
			<small class="text-muted">Previous comments</small>
			<div class="card" th:object="${topic}">
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item" th:each="item : ${topic.posts}">
					<div class="list-group-item list-group-item-action flex-column align-items-start">
						<i class="fa fa-check fa-2x text-success" th:if="${item.correctAnswer}"></i>
		    			<p class="mb-1" th:text="${item.text}"></p>
		    			<small class="text-muted" th:inline="text"><b>Commented by</b> [[${item.author.name}]] at [[${item.creationDate}]]</small>
		  			</div>
		  			<small class="text-muted" th:if="${isAuthor}"><a th:href="@{/markPostAsCorrect(post=${item.id},topic=${item.topic.id})}">Set it as correct answer</a></small>
			    </li>
			  </ul>
			</div>
			
			<hr/>
			<div class="container">
				<form action="#" th:object="${post}" th:action="@{/createPost}" method="POST">
					<input type="hidden" th:name="topic.id" th:value="${topic.id}" />
		  			<div class="form-group">
			      		<small class="text-muted" th:inline="text">Add a comment</small>
		        		<textarea class="form-control" id="text" rows="6" 
		        		 		   placeholder="Type here your comment" th:field="*{text}" required="required"></textarea>
			      		
				      	<div class="form-group row" style="padding: 1rem;">
				        	<button type="submit" class="btn btn-primary">Post your comment</button>
					    </div>	
			    	</div>
				</form>
			</div>
		</div>
	</body>
</html>	